# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.log
*.tlog
*.ide
*.dbmdl
*.dbproj.schemaview
*.pdb
*.cache
*.nupkg
*.snk
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
*.tmp
*.bak
*.swp
*.DS_Store
_ReSharper*/
.idea/
*.slnx
